.clientsApi__container {
  align-items: center;
  padding: 20px;
  text-align: center;
  h1 {
    margin-bottom: 30px;
  }
}

.loading {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #E06733 ; 
}

// Для адаптивности блоков связка width и max-width. Занимает 100% ширины родительского элемента 
.clientsApi__list {
  width: 100%; 
  max-width: 500px; 
}

.clientsApi__card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


