.welcome-wrapper {
  max-width: 1440px;
  height: 532px;
  margin: 0 auto;
  padding: 62px 109px 62px 109px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.welcome-image {
  position: relative; /*подгон подгон подгон подгон подгон подгон Welcome*/
  right: 8px;
  bottom: 1px;
}

.green-highlight{
  color: #499A18;
}

.content {
  width: 549px;
  height: 340px;
  margin: 0;
  /*  background-color: rgb(142, 127, 255);*/
  justify-content: space-between;
}

h1 {
  position: relative;
  top: 2px;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}
.content > p {
  text-align: start;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.welcome-button {
  position: relative;
  top: 2px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  width: 158px;
  height: 44px;
  border-radius: 10px;
  border-color: #E06733;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 4px 4px rgba(1, 2, 1, 0.25); /*расшифр x, y, размытие, растяжение (размер тени)-тут его нет rgba(r, g, b, a)*/
}

.welcome-button:hover { /*обязательно ставить :hover в притык*/
  border-color: #E06733;
  background-color: #E06733;
  color: #EDF2EC;
  cursor: pointer;
  transition: 0.5s;
}

main { /* !!!!!!!!! почему второй раз повторяется, проверить убрав его с пиксель перфектом*/
  position: relative;
  top: -3px;
}

@media screen and (max-width:1258px) {

  .welcome-wrapper {
    max-width: 768px;
    height: 420px;
    padding: 40px 50px 70px 50px;
    align-items: flex-start;
  }

  .content {
    max-width: 346px;
    height: 310px;
  }

  .content > p {
    font-size: 16px;
    line-height: 25px;
    position: relative;
    left: 4px;
  }

  .welcome-image {
    right: 0px;
    bottom: 0px;
    max-width: 280px;
    max-height: 254px;
    order: 1;
  }

  .welcome-button {
    position: relative;
    top: 1px;
  }
}

@media screen and (max-width:765px) {

  .welcome-wrapper {
    padding: 25px 24px;
    height: 300px;
  }

  .welcome-image {
    display: none;
  }

  .content {
    max-width: 346px;
    height: 250px;
  }

  .content > p {
    left: 0px;
  }

  .welcome-button {
    font-size: 10px;
    width: 100px;
    height: 34px;
  }
}

@media screen and (max-width:765px) {

  .about-wrapper{
    height: 516px;
    padding: 30px 25px 28px;
  }

  .about-content {
    height: 287px;
  }

  .about-content > p{
    font-size: 15px;
    line-height: 25px;
  }

  .about-img {
    width: 150px;
    height: 154px;
  }
}