//В блоке welcome и Consultation не получается резиновость изза того что картинка не уходит вниз по макету, соответственно у меня пока не получается додуматься как этот вопрос решить, сроки поджимают
@import "../../styles/variables.scss";

.welcome {
   justify-content: center;
}

.welcome__wrapper {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
  height: 532px;
  padding: 62px 109px 62px 109px;
}

.welcome__image {
  position: relative; /*подгон подгон подгон подгон подгон подгон Welcome*/ 
  right: 8px;
  bottom: 1px;
}

.welcome__content {
  justify-content: space-between;
  width: 549px;
  height: 340px;
  margin: 0;
  span {
    color: $h1-highlight-color;
  }
  p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    text-align: start;
  }
}

@media screen and (max-width:1439px) {

  .welcome__wrapper {
    align-items: flex-start;
    width: 100%;
    max-width: 768px;
    height: 420px;
    padding: 40px 50px 70px 50px;
  }

  .welcome__content {
    max-width: 346px;
    height: 310px;
    p {
      font-size: 16px;
      line-height: 25px;
      position: relative;
      left: 4px;
    }
  }

  // order: 1; отвечает за порядок расположения элементов внутри контейнера
  .welcome__image {
    right: 0px;
    bottom: 0px;
    max-width: 280px;
    max-height: 254px;
    order: 1; 
  }
}

@media screen and (max-width:767px) {
 
  .welcome__wrapper {
    justify-content: center;
    height: 300px;
    padding: 25px 24px;
  }

  .welcome__image {
    display: none;
  }

  .welcome__content {
    max-width: 346px;
    height: 250px;
  }
}


