@import "../../styles/variables.scss";

.clients__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
  max-width: 1440px;
  height: 666px;
  margin: 0 auto;
  padding: 93px 109px 94px 109px;
}


.clients__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 605px;
  height: 350px;
  margin: 0; 
  h2 {
    position: relative;
    top: 3px;
  }
  p{
    position: relative;
    top: 5px;
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    text-align: start;    
  }
  span {
    color: $h2-highlight-color;
  }
}

@media screen and (max-width:1439px) {

  .clients__wrapper{
    flex-direction: column; 
    max-width: 768px;
    height: 783px;
    padding: 40px 50px 95px 50px;
  }

  .clients__content {
    justify-content: space-between;
    max-width: 668px;
    h2{
      top: 0px;
      margin: 0 auto;
      max-width: 605px;
    }
    p{
      height: 128px;
      top: 0px;
    }
  }

  .clients__header {
    text-align: center;
  }

  .clients__img {
    display: block;
    width: 250px;
    height: 298px;
  }
}

@media screen and (max-width:767px) {

  .clients__wrapper{
    flex-direction: column; 
    max-width: 767px;
    height: 750px;
    padding: 40px 25px 55px 25px;
  }

  .clients__content {
    justify-content: space-between;
    max-width: 346px;
    height: 300px;
    p{
      top: 0px;
      height: 170px;
      font-size: 15px ;
      line-height: 25px;
    }
  }

  .clients__header {
    text-align: center;
  }

  .clients__img {
    display: block;
    width: 250px;
    height: 298px;
  }
}

