@import "variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px auto;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: Inika, sans-serif;
  color: #010201;
}

//В большинстве случаев рекомендуется использовать один заголовок H1 на странице. Он должен отражать основную тему или цель страницы. Это помогает поисковым системам лучше понять содержание страницы и улучшает её ранжирование.
h1 {
  position: relative;
  top: 2px;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

//убрал жирность букв по умолчанию стояло 700
h2 {
  margin: 0;
  font-family: Inika, sans-serif;
  font-size: 40px;
  font-weight: 400; 
  line-height: normal;
  color: #499A18;
}

main {
  position: relative;
  top: -1px;
}


//это независимый класс, который просто добавляет стили flex
// .flex__row {
//   display: flex;
// }

//это независимый класс, который просто добавляет стили flex с расположением в колонку
// .flex__column {
//   display: flex;
//   flex-direction: column;
// }

.grid {
  display: grid;
}

//box-shadow: 0px 4px 4px rgba(1, 2, 1, 0.25); /*расшифр x, y, размытие, растяжение (размер тени)-тут его нет rgba(r, g, b, a)
.button {
  position: relative;
  top: 2px;
  width: 158px;
  height: 44px;
  border-radius: 10px;
  border-color: $btn-border-color;
  border-width: 2px;
  border-style: solid; 
  font-family: Inter, sans-serif;
  font-size: 16px;
  background-color: $btn-background-color;
  box-shadow: 0px 4px 4px rgba(1, 2, 1, 0.25);
}

//обязательно ставить :hover в притык
.button:hover { 
  border-color: $btn-hover-background-color;
  color: $btn-hover-font-color;
  background-color: $btn-hover-background-color;
  transition: 0.5s;
  cursor: pointer;
}

//******************* Поджатие футера к низу **************************

// min-height: 100vh; Минимальная высота контейнера равна высоте viewport 
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1; // Основной контент занимает все доступное пространство 
}

//***********************Медиа запросы **********************
@media screen and (max-width:1439px) {
  h1 {
    font-size: 35px;
    line-height: 35px;
  }

  h2 {
    font-size: 35px;
    line-height: 32.5px;
  }

  main {
    top: 0px;
  }
}

@media screen and (max-width:767px) {
  h1 {
    font-size: 25px;
    line-height: 35px;
  }

  h2 {
    font-size: 25px;
    line-height: 32.5px;
  }

  main {
    top: 0px;
  }

  .button {
    width: 100px;
    height: 34px;
    font-size: 12px;
  }
  
}