
//************ Sections background-color **************
$Sections-color: #EDF2EC;


//************ Button **************
$btn-border-color: #E06733;
$btn-background-color: #EDF2EC;
$btn-font-color:#EDF2EC;
$btn-hover-border-color: #E06733;
$btn-hover-background-color: #E06733;
$btn-hover-font-color:#EDF2EC;

//************ highlight **************
$h1-highlight-color:#499A18;
$h2-highlight-color:#E06733;