@import "../../styles/variables.scss";

//align-items: baseline; выравнивание элементов в хедере по одной линии
.header {
  background-color: $Sections-color;

  &__wrapper {
    display: flex;
    align-items: baseline; 
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 42px 109px 42px 111px;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    width: 452px;
    padding: 0;
    font-family: Inika, sans-serif;
    color: #010201;
    list-style: none;
  }

  &__nav-link {
    transition: 0.7s;
  }

  &__nav-item :hover {
    font-weight: 700;
    color: #E06733;
  }
}

.burger-icon {
  display: flex;
  flex-direction: column;
  border: none;
}

@media screen and (max-width:1439px) {
  .header__wrapper {
    max-width: 768px;
    height: 117px;
    padding: 35px 50px;
  }
}

@media screen and (max-width:767px) {
  .header{
    &__wrapper {
      height: 96px;
      padding: 32px 25px;
    }

    &__nav-list {
      display: block;
      width: 252px;
    }
  }

  //************************* BURGER MENU ***********************
// классы через пробел означают потомки, т.е. Когда хедер открыт (header.open) потомки т.е. вложенные теги среди которых .burger-icon внутри которого только span  
//  :nth-child описание в конце 

// крестик лежит внутри header__burger-icon
  .header.open .burger-icon { 
    position: fixed;
    top: 25px;
    right: 27px;
    height: 35px;
    border: 1px solid #717171;
    border-radius: 5px;
    
    .burger-icon__line{
      &:nth-child(1){
        opacity: 0;
      }

      &:nth-child(2){
        position: relative;
        top: 3px;
        transform: rotate(45deg);
      }

      &:nth-child(3){
        position: relative;
        top: -6px;
        transform: rotate(-45deg);
      }

      &:nth-child(4){
        opacity: 0;
      }
    }
  }

  .header.open .header__nav {
    transform: translateX(-100%);
  }

  //плашка, которая выходит из закулисья, внутри нее nav-list  
  //transition: transform 0.5s; плавный выход из закулистья
  .header__nav { 
    position: fixed;
    right: -100px;
    top: 42px;
    z-index: 1;
    width: 98px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    background-color: rgba(139, 160, 126, 0.6);
    transition: transform 0.5s; 
  }

  //Расположение Иконка палочек т.е. до нажатия
  .header__burger-icon { 
    position: relative;
    bottom: 20px;
    z-index: 2;
    display: block;
  }

  .burger-icon {
    justify-content: space-between;
    align-items: flex-end;
    width: 40px;
    height: 26px;
  }

  //полоски бургер меню
  //  transition: 0.3s; тут время превращения в крестик
  .burger-icon .burger-icon__line { 
    width: 100%;
    height: 2px;
    background-color: #717171;
    transition: 0.3s; 
  }
}





// Псевдокласс :nth-child в CSS используется для выбора элементов на основе их позиции среди соседних элементов внутри одного родителя. Он позволяет задавать стили для элементов, которые находятся на определённой позиции в дереве документа.

