@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.oxygen__wrapper {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1440px;
  height: 532px;
  margin: 0 auto;
  padding: 62px 109px 62px 109px;
  &_row {
    @include row;
  }
}

.oxygen__content {
  justify-content: space-between;
  width: 549px;
  height: 450px;
  margin: 0;
  span {
    color: $h1-highlight-color;
  }
  p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    text-align: start;
  }
  &_column {
    @include column;
  }
}

@media screen and (max-width:1439px) {

  .oxygen__wrapper {
    width: 100%;
    max-width: 768px;
    height: 520px;
    padding: 40px 50px 70px 50px;
    h1 {
      line-height: 35px;
    }
  }

  .oxygen__content {
    max-width: 346px;
    height: 400px;
    p {
      font-size: 16px;
      line-height: 25px;
      position: relative;
      left: 4px;
    }
  }

  .oxygen__image {
    max-width: 280px;
    max-height: 254px;
    order: 1; 
  }
}

@media screen and (max-width:767px) {

  .oxygen__wrapper {
    flex-direction: column;
    height: 670px;
    padding: 25px 24px;
  }

  .oxygen__content {
    max-width: 346px;
    height: 315px;
  }
}