@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//width: 100%; до 13,03,25 была max-width: 1440px;, что мешало работать Flex внутри footer__wrapper 
.footer {
  position: relative;
  top: -5px;
  width: 100%; 
  height: 130px;
  margin: 0px auto;
  padding: 40px 109px;
  background-color: #EDF2EC;

}
 
.footer__wrapper {
  justify-content: space-between;
  align-items: center;
  max-width: 1222px;
  height: 50px;
  margin: 0px auto;
  &_row {
    @include row;
  }
}

.footer__content {
  justify-content: space-between;
  align-items: center;
  width: 182px;
  height: 50px;
  padding-right: 13px;
  p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
  }
  &_row {
    @include row;
  }
}

.footer__link {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  &:hover {
    transition: 0.5s;
    text-shadow: 0px 1px 5px #E06733;
  }
}

.footer__list_social {
  justify-content: space-between;
  align-items: center;
  width: 188px;
  height: 50px;
  padding: 9px 0px 9px 0px;
  list-style: none;
  &_row {
    @include row;
  }
}

.footer__link_social {
  &:hover {
    transition: 0.7s;
    box-shadow: 0px 1px 10px #E06733;
  }
}

@media screen and (max-width:1439px) {
  .footer {
    padding: 0px;
  }

  .footer__wrapper {
    flex-direction: column;
    height: 130px;
  }

  .footer__content {
    width: 173px;
    height: 40px;
    padding-right: 0px;
  }
}

  .footer__link_social {
    width: 26.6px;
  }

  .footer__list_social {
    margin: 0px;
    padding: 0px;
  }


@media screen and (max-width:767px) {

  .footer {
    padding: 4px 25px;
  }

  .footer-wrapper {
    padding: 19px 4px 0px 0px;
    height: 146px;
  }

  .footer__list_social {
    margin: 0px;
    padding: 4px 0px 0px 0px;
    }
}
